@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<script>
    window.onload = function () {
        var culture = localStorage.getItem("culture");
        if (culture) {
            document.getElementById("culture").value = culture;
        }
    }
</script>