@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<div class="container" style="width:1180px">
    <table class="table table-hover pt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <td>В банке</td>
                <td>In the bank</td>
                <td>À la banque</td>
                <td>في البنك</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Здравствуйте, я бы хотел задать несколько вопросов относительно банковской услуги.</td>
                <td>Hello, I would like to ask a few questions about banking services.</td>
                <td>Bonjour, j'aimerais poser quelques questions concernant le service bancaire.</td>
                <td>مرحبا ، أود أن أطرح بعض الأسئلة حول الخدمات المصرفية</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Какие услуги доступны для иностранных граждан?</td>
                <td>What services are available for foreign citizens?</td>
                <td>Quels services sont disponibles pour les citoyens étrangers?</td>
                <td>ما هي الخدمات المتاحة للمواطنين الأجانب?</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Можете ли вы проконсультировать меня по поводу открытия банковского счета?</td>
                <td>Can you advise me about opening a bank account?</td>
                <td>Pouvez-vous me conseiller sur l'ouverture d'un compte bancaire?</td>
                <td>هل يمكنك تقديم المشورة لي حول فتح حساب مصرفي?</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Какие документы мне нужно предоставить для открытия счета?</td>
                <td>What documents do I need to provide to open an account?</td>
                <td>Quels documents dois-je fournir pour ouvrir un compte?</td>
                <td>ما هي الوثائق التي يجب علي تقديمها لفتح حساب؟</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Какие существуют варианты банковских карт, и что они включают в себя?</td>
                <td>What are the options for bank cards, and what do they include?</td>
                <td>Quelles sont les options de carte bancaire disponibles et que comprennent-elles?</td>
                <td>ما هي الخيارات المتاحة للبطاقات المصرفية, وماذا تشمل?</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Могу ли я оформить кредит в банке?</td>
                <td>Can I apply for a bank loan?</td>
                <td>Puis-je obtenir un prêt auprès d'une banque?</td>
                <td>هل يمكنني التقدم بطلب للحصول على قرض مصرفي?</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>Какой процент по кредиту и на какой срок?</td>
                <td>What is the interest on the loan and for how long?</td>
                <td>Quel est le pourcentage sur le prêt et pour quelle période?</td>
                <td>ما هي الفائدة على القرض وإلى متى?</td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>Когда и в каком виде я должен выплатить кредит?</td>
                <td>hen and in what form should I repay the loan?</td>
                <td>Quand et sous quelle forme dois-je rembourser le prêt?</td>
                <td>متى وبأي شكل يجب أن أسدد القرض؟</td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>Можете ли вы помочь мне с переводом средств в другую страну?</td>
                <td>Can you help me with transferring funds to another country?</td>
                <td>Pouvez-vous m'aider à transférer des fonds dans un autre pays?</td>
                <td>هل يمكنك مساعدتي مع تحويل الأموال إلى بلد آخر</td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td>Какие проценты я должен заплатить за перевод средств и на какой срок действует тариф?</td>
                <td>What interest should I pay for the transfer of funds and for how long is the tariff valid?</td>
                <td>Quels intérêts dois-je payer pour le transfert de fonds et pour quelle durée le tarif est-il valable?</td>
                <td>ما الفائدة التي يجب أن أدفعها مقابل تحويل الأموال وما هي مدة سريان التعرفة؟</td>
            </tr>
        </tbody>
    </table>
    <div class="custom-btn pb-2">
        <a asp-controller="Practice" asp-action="Index" class="previous round">&#8249;&#8249;</a>
        <a asp-controller="Practice" asp-action="University" class="previous round">&#8249;</a>
        <a asp-controller="Practice" asp-action="Store" class="next round">&#8250;</a>
    </div>
</div>