@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<div class="container" style="width:1180px">
    <table class="table table-hover pt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">В магазине</th>
                <th scope="col">in the shop</th>
                <th scope="col">en magasin</th>
                <th scope="col">في المتجر</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Здравствуйте!</td>
                <td>Hello!</td>
                <td>Bonjour!</td>
                <td>مرحبا</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Могу я Вам помочь?</td>
                <td>Can I help you?</td>
                <td>Puis-je vous aider?</td>
                <td>هل يمكنني مساعدتك?</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Сколько это стоит?</td>
                <td>How much does it cost?</td>
                <td>Combien coûte ceci ?</td>
                <td>كم يكلف?</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Есть ли скидка?</td>
                <td>Is there a discount?</td>
                <td>Y a-t-il un rabais?</td>
                <td>هل هناك خصم?</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Можно ли заплатить кредитной картой?</td>
                <td>Can I pay by credit card?</td>
                <td>Puis-je payer par carte de crédit?</td>
                <td>هل يمكنني الدفع ببطاقة ائتمان?</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>У Вас есть чек?</td>
                <td>Do you have a receipt?</td>
                <td>Vous avez un chèque?</td>
                <td>هل لديك إيصال?</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>Я только смотрю, спасибо.</td>
                <td>I'm just looking, thank you.</td>
                <td>Je regarde, merci.</td>
                <td> أنا فقط أبحث ، شكرا</td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>Хотите пакет?</td>
                <td>Would you like a bag?</td>
                <td>Vous voulez un paquet?</td>
                <td> حزمة?</td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>Извините, где касса?</td>
                <td>Excuse me, where is the cashier?</td>
                <td>Excusez-moi, où est la caisse?</td>
                <td>عفوا, أين هو تسجيل النقدية?</td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td>Хорошего дня!</td>
                <td>Have a nice day!</td>
                <td>Bonne journée!</td>
                <td>أتمنى لك يوما سعيدا!</td>
            </tr>
        </tbody>
    </table>
    <div class="custom-btn">
        <a asp-controller="Practice" asp-action="Index" class="previous round">&#8249;</a>
        <a asp-controller="Practice" asp-action="Store" class="next round">&#8250;</a>
    </div>
</div>