@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<div class="container" style="width:1180px">
    <table class="table table-hover pt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <td>В спортзале</td>
                <td>In the gym</td>
                <td>Au Gymnase</td>
                <td>في الصالة الرياضية</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Где находится спортзал?</td>
                <td>Where is the gym?</td>
                <td>Où est la salle de gym?</td>
                <td>أين تقع الصالة الرياضية?</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Какие у вас часы работы?</td>
                <td>What are your opening hours?</td>
                <td>Quelles sont vos heures d'ouverture?</td>
                <td>ما هي ساعات العمل الخاصة بك?</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Сколько стоит абонемент на месяц?</td>
                <td>How much is a monthly subscription?</td>
                <td>Combien coûte un abonnement d'un mois?</td>
                <td>كم تكلفة الاشتراك الشهري?</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Есть ли здесь тренер?</td>
                <td>Is there a personal trainer here?</td>
                <td>Y a-t-il un coach ici?</td>
                <td>هل هناك مدرب هنا?</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Куда мне идти, чтобы начать тренировку?</td>
                <td>Where do I go to start my workout?</td>
                <td>Où dois-je aller pour commencer mon entraînement?</td>
                <td>أين يجب أن أذهب لبدء التدريب?</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Я могу здесь что-то хранить?</td>
                <td>Can I leave my belongings here?</td>
                <td>Je peux garder quelque chose ici?</td>
                <td>هل يمكنني تخزين شيء هنا?</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>Какие есть групповые занятия?</td>
                <td>What group classes do you offer?</td>
                <td>Quelles sont les classes de groupe?</td>
                <td>أي نوع من فئات المجموعة لديك?</td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>Можно ли арендовать оборудование для тренировки?</td>
                <td>Is it possible to rent equipment for working out?</td>
                <td>Est-il possible de louer de l'équipement d'entraînement?</td>
                <td>هل من الممكن استئجار معدات للتدريب?</td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>Как пользоваться этим тренажером?</td>
                <td>How do I use this machine?</td>
                <td>Comment utiliser cette machine?</td>
                <td>كيف أستخدم هذه الألة</td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td>Какие правила здесь действуют?</td>
                <td>What are the rules in here?</td>
                <td>Quelles sont les règles en vigueur ici?</td>
                <td>ما هي القواعد التي تنطبق هنا?</td>
            </tr>
        </tbody>
    </table>
    <div class="custom-btn pb-2">
        <a asp-controller="Practice" asp-action="Index" class="previous round">&#8249;&#8249;</a>
        <a asp-controller="Practice" asp-action="Store" class="previous round">&#8249;</a>
        <a asp-controller="Practice" asp-action="Hospital" class="next round">&#8250;</a>
    </div>
</div>