@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<div class="container" style="width:1180px">
    <table class="table table-hover pt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Аренда жилья</th>
                <th scope="col">Rental housing</th>
                <th scope="col">Logements locatifs</th>
                <th scope="col">استئجار المساكن</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Хочу снять квартиру.</td>
                <td>I want to rent an apartment.</td>
                <td>Je veux louer un appartement.</td>
                <td>أريد استئجار شقة</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Я ищу небольшую квартиру.</td>
                <td>I'm looking for a small apartment.</td>
                <td>Je cherche un petit appartement.</td>
                <td> أنا أبحث عن شقة صغيرة</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Мне нужна квартира на длительный срок.</td>
                <td>I need an apartment for a long time.</td>
                <td>J'ai besoin d'un appartement à long terme.</td>
                <td>أحتاج إلى شقة لفترة طويلة</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Сколько будет стоить аренда?</td>
                <td>How much will the rent cost?</td>
                <td>Combien coûtera le loyer?</td>
                <td>كم ستكون تكلفة الإيجار?</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Есть ли в квартире мебель и бытовая техника?</td>
                <td>Is there furniture and household appliances in the apartment?</td>
                <td>Y a-t-il des meubles et des appareils ménagers dans l'appartement?</td>
                <td> هل هناك الأثاث والأجهزة المنزلية في الشقة</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Где находится квартира?</td>
                <td>Where is the apartment located?</td>
                <td>Où se trouve l'appartement?</td>
                <td>أين تقع الشقة</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>Какие условия аренды?</td>
                <td>What are the terms of the lease?</td>
                <td>Quelles sont les conditions de location?</td>
                <td>ما هي شروط عقد الإيجار?</td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>Хотел бы посмотреть квартиру.</td>
                <td>I would like to see the apartment.</td>
                <td>J'aimerais voir l'appartement.</td>
                <td>أود أن أرى الشقة</td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>Какие документы нужны для заключения договора аренды?</td>
                <td>What documents are needed to conclude a lease agreement?</td>
                <td>Quels documents sont nécessaires pour conclure un contrat de location?</td>
                <td>ما هي الوثائق اللازمة لإبرام عقد الإيجار?</td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td>Можно ли договориться о снижении арендной платы?</td>
                <td>Is it possible to negotiate a reduction in rent?</td>
                <td>Est-il possible de négocier une réduction du loyer? </td>
                <td>هل من الممكن للتفاوض على تخفيض في الإيجار?</td>
            </tr>
        </tbody>
    </table>
    <div class="custom-btn pb-2">
        <a asp-controller="Practice" asp-action="Index" class="previous round">&#8249;&#8249;</a>
        <a asp-controller="Practice" asp-action="Hospital" class="previous round">&#8249;</a>
        <a asp-controller="Practice" asp-action="Street" class="next round">&#8250;</a>
    </div>
</div>