@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<div class="container">
    <table class="table table-hover pt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">На Улице</th>
                <th scope="col">On the street</th>
                <th scope="col">Dehors</th>
                <th scope="col"> في الشارع</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Простите, пожалуйста, вы не могли бы мне помочь?</td>
                <td>Excuse me, please, can you help me?</td>
                <td>Excusez-moi, pourriez-vous m'aider?</td>
                <td>عفوا, رجاء, يمكنك مساعدتي?</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Мне нужно найти (название места)?</td>
                <td>How do I get to (the name of the place)?</td>
                <td>Comment passer à (nom du lieu)?</td>
                <td>كيف يمكنني الحصول على (اسم المكان)?</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Где находится (название места)?</td>
                <td>Where is (the name of the place)?</td>
                <td>Où est (nom du lieu)?</td>
                <td>أين هو (اسم المكان)?</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Как пройти к (названию места)?</td>
                <td>How do I get to (the name of the place)? </td>
                <td>Comment passer à (nom du lieu)?</td>
                <td>كيف يمكنني الحصول على (اسم المكان)?</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Можно ли заплатить кредитной картой?</td>
                <td>Can I pay by credit card?</td>
                <td>Puis-je payer par carte de crédit?</td>
                <td>هل يمكنني الدفع ببطاقة ائتمان?</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Сколько времени работает (название места)?</td>
                <td>How long does it work (place name)?</td>
                <td>Combien de temps fonctionne (nom du lieu)?</td>
                <td>كم من الوقت يعمل (اسم المكان)?</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>Как добраться до (названия места) на общественном транспорте?</td>
                <td>How to get to (place name) by public transport?</td>
                <td>Comment se rendre à (nom du lieu) en transports en commun?</td>
                <td> كيفية الوصول إلى (اسم المكان) بواسطة وسائل النقل العام</td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>Можно ли здесь платить кредитной картой?</td>
                <td>Is it possible to pay by credit card here?</td>
                <td>Puis-je payer par carte de crédit ici?</td>
                <td> هل من الممكن أن تدفع عن طريق بطاقة الائتمان هنا?</td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>Вы не знаете, где можно (название услуги/товара)?</td>
                <td>Do you know where it is possible (the name of the service/product)?</td>
                <td>Vous ne savez pas où vous pouvez (nom du service / du produit)?</td>
                <td>هل تعرف أين هو ممكن (اسم الخدمة/المنتج)?</td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td>Какой автобус/метро идет до (названия места)?</td>
                <td>Which bus/subway goes to (place name)?</td>
                <td>Quel bus / métro va à (nom du lieu)?</td>
                <td>الذي حافلة / مترو يذهب إلى (اسم المكان)?</td>
            </tr>
        </tbody>
    </table>
    <div class="custom-btn pb-2">
        <a asp-controller="Practice" asp-action="Index" class="previous round">&#8249;&#8249;</a>
        <a asp-controller="Practice" asp-action="Rent" class="previous round">&#8249;</a>
        <a asp-controller="Practice" asp-action="Transport" class="next round">&#8250;</a>
    </div>
</div>