@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<div class="container">
    <table class="table table-hover pt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">В транспорте</th>
                <th scope="col">In transport</th>
                <th scope="col">Dans les transports</th>
                <th scope="col">في النقل</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Извините, как долго нужно ждать автобус?</td>
                <td>Excuse me, how long do I have to wait for the bus?</td>
                <td>Excusez-moi, combien de temps faut-il attendre pour le bus?</td>
                <td>عفوا, كم من الوقت لا بد لي من الانتظار للحافلة?</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Можете сказать, куда идет этот маршрут?</td>
                <td>Can you tell me where this route goes?</td>
                <td>Pouvez-vous me dire où va cette route?</td>
                <td>هل يمكن أن تخبرني أين يذهب هذا الطريق?</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Где находится вход на станцию метро?</td>
                <td>Where is the entrance into subway station?</td>
                <td>Où se trouve l'entrée de la station de métro?</td>
                <td>أين هو مدخل محطة المترو?</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Сколько стоит проезд на автобусе</td>
                <td>How much does the bus ride cost?</td>
                <td>Combien coûte le trajet en bus?</td>
                <td>كم تكلفة أجرة الحافلة?</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Есть ли здесь такси?</td>
                <td>Is there a taxi here?</td>
                <td>Y a-t-il un taxi ici?</td>
                <td>هل هناك سيارة أجرة هنا?</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Пожалуйста, остановите здесь</td>
                <td>Please make a stop here.</td>
                <td>S'il vous plaît, arrêtez-vous ici.</td>
                <td>أرجوك توقف هنا.</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>Как пройти к автобусной остановке?</td>
                <td>How do I get to the bus stop?</td>
                <td>Comment se rendre à l'arrêt de bus?</td>
                <td>كيف يمكنني الوصول إلى محطة الحافلات?</td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>Какая следующая станция на этом маршруте?</td>
                <td>What is the next station on this route?</td>
                <td>Quelle est la prochaine station sur cette route?</td>
                <td>ما هي المحطة التالية على هذا الطريق?</td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>Как попасть на этот поезд?</td>
                <td>How to get on this train?</td>
                <td>Comment prendre ce train?</td>
                <td>كيفية الحصول على هذا القطار?</td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td>Можно ли здесь взять напрокат велосипед?</td>
                <td>Is it possible to rent a bike here?</td>
                <td>Puis-je louer un vélo ici?</td>
                <td>هل من الممكن استئجار دراجة هنا?</td>
            </tr>
        </tbody>
    </table>
    <div class="custom-btn pb-2">
        <a asp-controller="Practice" asp-action="Index" class="previous round">&#8249;&#8249;</a>
        <a asp-controller="Practice" asp-action="Street" class="previous round">&#8249;</a>
        <a asp-controller="Practice" asp-action="University" class="next round">&#8250;</a>
    </div>
</div>