@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<div class="container">
    <table class="table table-hover pt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <td>В университете</td>
                <td>At University</td>
                <td>À l'Université</td>
                <td>إلى</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Добрый день! Я пришел с вопросом.</td>
                <td>Good afternoon! I came with a question</td>
                <td>Bonjour! Je suis venu avec une question</td>
                <td>مساء الخير! جئت مع سؤال</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Как я могу связаться с преподавателем/администрацией?</td>
                <td>How can I contact the teacher/administration?</td>
                <td>Comment puis-je contacter l'enseignant/l'administration?</td>
                <td>كيف يمكنني التواصل مع المدرس / الإدارة؟</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Где находится столовая/библиотека/аудитория?</td>
                <td>Where is the dining room/library/auditorium located?</td>
                <td>Où se trouve la salle à manger / bibliothèque/Auditorium</td>
                <td>أين تقع غرفة الطعام / المكتبة / القاعة?</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Как зарегистрироваться на курсы/получить стипендию?</td>
                <td>How do I register for courses/get a scholarship?</td>
                <td>Comment s'inscrire aux cours/obtenir une bourse?</td>
                <td>كيف يمكنني التسجيل في الدورات / الحصول على منحة دراسية?</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Как я могу подать заявление на поступление?</td>
                <td>How can I apply for admission?</td>
                <td>Comment puis-je faire une demande d'admission?</td>
                <td>كيف يمكنني التقدم بطلب للقبول?</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Какие документы мне нужны для поступления?</td>
                <td>What documents do I need for admission?</td>
                <td>De quels documents ai-je besoin pour être admis?</td>
                <td>ما هي الوثائق التي أحتاجها للقبول?</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>Какие есть программы обучения/факультеты/специализации?</td>
                <td>What are the training programs/faculties/specializations?</td>
                <td>Quels sont les programmes d'études/facultés / spécialisations?</td>
                <td>ما هي البرامج التدريبية / الكليات / التخصصات?</td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>Как я могу записаться на консультацию/занятие/экзамен?</td>
                <td>How can I sign up for a consultation/class/exam?</td>
                <td>Comment puis-je m'inscrire à une consultation/cours/examen?</td>
                <td>كيف يمكنني الاشتراك للحصول على استشارة / فئة / امتحان?</td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>К какому преподавателю я могу обратиться за помощью с исследованием/проектом/семинаром?</td>
                <td>Which teacher can I turn to for help with a study/project/seminar?</td>
                <td>À quel professeur puis-je demander de l'aide pour une étude/projet/atelier?</td>
                <td>من هو المعلم الذي يمكنني طلبه للمساعدة في دراسة / مشروع / ورشة عمل؟</td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td>Где я могу найти расписание занятий?</td>
                <td>Where can I find the class schedule?</td>
                <td>Où puis-je trouver l'horaire des cours?</td>
                <td>أين يمكنني أن أجد جدول الحصص؟</td>
            </tr>
        </tbody>
    </table>
    <div class="custom-btn pb-2">
        <a asp-controller="Practice" asp-action="Index" class="previous round">&#8249;&#8249;</a>
        <a asp-controller="Practice" asp-action="Transport" class="previous round">&#8249;</a>
        <a asp-controller="Practice" asp-action="Bank" class="next round">&#8250;</a>
    </div>
</div>