@using Microsoft.AspNetCore.Mvc.Localization
@{
    ViewData["Title"] = "Privacy Policy";
}
@inject IViewLocalizer Localizer

<div class="container">
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
</div>
