@using Microsoft.AspNetCore.Mvc.Localization
@{
    var successMessage = TempData["SuccessMessage"] as string;
}

@inject IViewLocalizer Localizer
<div class="container">
    @if (!string.IsNullOrEmpty(successMessage))
    {
        <div class="alert alert-success mt-2">
            @Localizer["String1"]
        </div>
    }

    <button class="btn-outline-primary mt-1" type="submit" asp-controller="Home" asp-action="Index">@Localizer["String2"]</button>
</div>

